<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
<h1>Login</h1>

<p th:if="${param.resetSuccess}">Password updated. You can now log in.</p>

<form th:action="@{/login}" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

    <div>
        <label for="username">Username</label>
        <input id="username" type="text" name="username">
    </div>

    <div>
        <label for="password">Password</label>
        <input id="password" type="password" name="password">
    </div>

    <button type="submit">Login</button>
</form>

<p><a th:href="@{/forgot-password}">Forgot password?</a></p>
<p><a th:href="@{/signup}">Sign up</a></p>
<p><a th:href="@{/}">Back</a></p>
</body>
</html>
